
.form-box{
    text-align: center;
    padding:0;
    
}

/* .form{
    border:1px solid black;
} */

.field{
    padding:1% 1%;
    font-size:18px;
    width:20%;
    margin:1% 0;
    border:1px solid rgb(116, 115, 115);
    border-radius:5px;
}
.accType{
    width:22.2%;
    padding:1% 1%;
    margin:1% 0;
    border:1px solid rgb(116, 115, 115);
    border-radius:5px;
    font-size:18px;
    color:grey;
    
}
.form-box .errorStyle{
   color:rgb(247, 74, 74);
   text-align:justify;
   margin-left:540px;
}