.books_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .books_grid{
        display:block;
    }
 }
